apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myargoapp
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sid-shnkar/argo-cd-demo.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-demo
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      enabled: true