apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-cd-demo-deployment
  namespace: argo-demo
  labels:
    app.kubernetes.io/name: nginx
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: nginx
  template:
    metadata:
      labels:
        app.kubernetes.io/name: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
          - name: http
            containerPort: 80