apiVersion: v1
kind: Service
metadata:
  name: argo-cd-demo-service
  namespace: argo-demo
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: http