apiVersion: v1
kind: Service
metadata:
  name: argo-cd-demo-service
  namespace: argo-demo
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: http